


body {
  background-color:  #36342C;;
  background-image: url('https://images.unsplash.com/photo-1431936424001-447bddcccff1?auto=format&fit=crop&w=1267&q=80');
}

.sales {
  background-color: rgb(37, 22, 5);
}

nav {
  background-color: #202e42;
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: right;
}

nav a {
  display: block;
  padding: 8px;
  color: rgb(109, 109, 109);
  text-decoration: none;
}

header {
  color: #36342C;
  padding-top: 10px;
  padding-bottom: 120px;
  height: 200px;
}

.sales_header {
  padding-bottom: 50px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Istok Web', sans-serif;
}

h4 {
  color: #202e42;
  font-size: 1.5em;
  padding: 10;
}

p, li {
  font-family: 'Lora', serif;
  color: rgb(255, 255, 255);
  padding: 3px 3px 3px 0px;
}

main {
  background-color: rgba(255, 255, 255, 0.801);
  height: 200 px;
  color: #bc543b;
  padding-top: 20px;
}

section h3 {
  padding-top: 4px;
  padding-bottom: 10px;
  height: 200 px;
}

main ul {
  position: absolute;
  top: 435px;
}

section li {
  color: #bc543b; 
}

table, form {
  color: #bc543b; 
  border-radius: 5px;
  padding-top: 10px;
}


#store-hours-list li{ 
  padding: 1px 1px 1px 0px;
}


td {
  padding: 6px 10px 6px 10px;
}

#pats-salmon{
  color: rgb(255, 255, 255);
  font-size: 320%;
  padding-top: 10px;
}

#cookies_header {
  font-size: 532%;
  color: rgb(255, 255, 255);
}

em {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}

h3 {
  font-size: 20px;
  color: #bc543b;
}

#salmon_logo {
  width: 100%;
}

.blue-header {
  background-color: #202e42;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-media-pic {
  width: 156px;
  padding: 0px;
  margin: 0px;
  /* add border to pictures and header */
}

main section {
  min-height: 300 px;
}

footer {
  background-color: rgba(255, 255, 255, 0.801);
  height: 200 px;
}

footer h3 {
  padding-top: 35px;
}

footer li {
  font-size: 14px;
  color: #BC543B;
}

article {
  background-color: rgba(255, 255, 255, 0.801);
}

ul {
  padding-bottom: 20px;
}

.title {
  float: left;
  text-align: right;
  margin: 2px;
  padding: 2px;
}

input {
  padding: 2px;
  margin: 2px;
}

.top_right {
  font-size: 19px;
  right: 20px;
  top: 0px;
  width: 300px;
  color: #BC543B;
  max-width: 50%;
}

#home_button {
  top: 30px;
  width: 100px;
}

th {
  font-family: 'Istok Web', sans-serif;
  padding-top: 8px;
  background-color: #202e42;
}

table#locations tr td:first-child {
  font-family: 'Istok Web', sans-serif;
  background-color: #202e42;
}

#pats-sales {
  color: rgb(255, 255, 255);
  font-size: 382%;
  padding-top: 10px;
}

#information-header {
  font-size: 370%;
  color: rgb(255, 255, 255);
}

table {
  border: 1px solid rgb(255, 255, 255);
}

label {
  width: 260px;
}

article fieldset {
  margin-bottom: 0px;
}

form legend {
  margin-left: 95px;
}

article form ul {
  display: inline-block;
}

article form ul li {
  color: #BC543B;
}